.tag-cloud {
  list-style: none;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  li {
    display: inline;
    margin-bottom: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    color: $green;
    opacity: $blur;
  }
}

@include for-desktop-up {

  .tag-cloud {
    li:hover {
      opacity: 1;
    }
  }

}
