.site-footer {
  hr {
    margin-bottom: 0.5rem;
  }
  .footer-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    .footer-item {
      font-size: 2.8rem;
      margin-right: 1.5rem;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
      .footer-icon {
        color: unset;
      }
    }
  }
}
