---
layout: default
title: Projects
---

<h1 class="page-title">Projects</h1>
{% assign all_tags = site.data.projects | map: 'tags' | join | split: ' ' %}
{% assign tag_cloud = all_tags | uniq | sort %}
{% include cloud.html tags=tag_cloud class='project-cloud' id='js-project-cloud' %}
<ul class="project-list">
  {% for project in site.data.projects %}
    <li class="project-item js-projects">
      <h3 class="project-name">
        <a href="{{ project.link }}" target="_blank">{{ project.name }}</a>
      </h3>
      <div class="project-meta">
        <p class="project-description">{{ project.description }}</p>
        <ul class="project-tags">
          {% assign tags = project.tags | split: ' ' %}
          {% for tag in tags %}
            <li class="js-tags">{{ tag }}</li>
            <span class="project-slash">/</span>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% endfor %}
</ul>
