---
layout: default
title: Resume
---

<h1 class="page-title">Resume</h1>
<div class="resume">
  {% assign resume = site.data.resume %}
  <header class="resume-header">
    <h2 class="resume-name">{{ resume.name | upcase }}</h2>
    <p class="resume-address">{{ resume.address }}</p>
    <ul class="resume-contact-list">
      {% for contact in resume.contact %}
        <li>{{ contact[1] }}</li>
      {% endfor %}
    </ul>
  </header>
  <hr class="resume-line">
  <section class="resume-profile">
    <p>{{ resume.profile }}</p>
  </section>
  <section class="resume-skills clearfix">
    <h3 class="resume-skills-header">Skills</h3>
    <section class="resume-skills-technical">
      <h4 class="resume-skills-technical-header">Technical</h4>
      <ul class="resume-skills-technical-list">
        {% for category in resume.skills.technical %}
          <li>
            <span class="resume-skills-technical-category-header">{{ category[0] | capitalize }}: </span>
            <ul class="resume-skills-technical-category-list">
              {% for item in category[1] %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="resume-skills-additional">
      <h4 class="resume-skills-additional-header">Additional</h4>
      <ul class="resume-skills-additional-list global-list">
        {% for item in resume.skills.additional %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>
  </section>
  <section class="resume-work">
    <h3 class="resume-work-header">Work Experience</h3>
    <ul class="resume-work-list list">
      {% for work in resume.work %}
        <li>
          <header class="resume-work-header item-header">
            <span class="resume-work-position item-main">{{ work.position }}</span>
            <span class="resume-work-place item-place">{{ work.place }}</span>
            <span class="resume-work-period item-period">{{ work.period | replace: '-', '—' }}</span>
          </header>
          <ul class="resume-work-detail-list item-detail-list global-list">
            {% for detail in work.detail %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="resume-education">
    <h3 class="resume-education-header">Education</h3>
    <ul class="resume-education-list list">
      {% for education in resume.education %}
        <li>
          <header class="resume-education-header item-header">
            <span class="resume-education-name item-main">{{ education.name }}</span>
            <span class="resume-education-place item-place">{{ education.place }}</span>
            <span class="resume-education-period item-period">{{ education.period | replace: '-', '—' }}</span>
          </header>
          <ul class="resume-education-detail-list item-detail-list global-list">
            {% for detail in education.detail %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="resume-extra">
    <h3 class="resume-extra-header">Extracurricular Experience</h3>
    <ul class="resume-extra-list list">
      {% for extra in resume.extra %}
        <li>
          <header class="resume-extra-header item-header">
            <span class="resume-extra-position item-main">{{ extra.position }}</span>
            <span class="resume-extra-place item-place">{{ extra.place }}</span>
            <span class="resume-extra-period item-period">{{ extra.period | replace: '-', '—' }}</span>
          </header>
          <ul class="resume-extra-detail-list item-detail-list global-list">
            {% for detail in extra.detail %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="resume-languages">
    <h3 class="resume-languages-header">Languages</h3>
    <ul class="resume-languages-list">
      {% for language in resume.languages %}
        <li>
          <header class="resume-language-header">
            <p class="resume-language-name">{{ language.name }}</p>
          </header>
          <p class="resume-language-proficiency">{{ language.proficiency }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="resume-references clearfix">
    <h3 class="resume-references-header">References</h3>
    <ul class="resume-references-list">
      {% for reference in resume.references %}
        <li>
          <header class="resume-references-header">
            <p class="resume-references-name">{{ reference.name }}</p>
            <p class="resume-references-title">{{ reference.position }}, {{ reference.place }}</p>
          </header>
          <ul class="resume-references-contact-list">
            {% for contact in reference.contact %}
              <li>{{ contact[1] }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
