.project-list {
  list-style: none;
  .project-item {
    margin-bottom: 2rem;
    padding-right: 0.2rem;
    .project-name {
      margin-bottom: 0;
      font-weight: bold;
    }
    .project-description {
      margin-top: -0.25rem;
      margin-bottom: 0;
      line-height: 1.2;
    }
    .project-tags {
      li, .project-slash {
        opacity: $blur;
      }
      .project-slash {
        color: unset;
      }
    }
  }
}

@include for-tablet-portrait-up {

  .project-list {
    .project-item {
      float: left;
      width: 50%;
    }
  }

}
