.resume {
  border: 0.25rem solid $gray;
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
  position: relative;
  * {
    margin: 0;
  }
  header, hr, section {
    margin-bottom: 2rem;
  }
  h3, h4 {
    font-weight: bold;
  }
  h3 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $green;
  }
  h4 {
    margin-bottom: 0.75rem;
    font-size: 1.8rem;
  }
  .print-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    cursor: pointer;
    visibility: hidden;
  }
  .resume-header {
    text-align: center;
    .resume-name {
      font-weight: bold;
      color: $green;
      margin-bottom: -0.25rem;
      font-size: 3.2rem;
    }
    .resume-address {
      font-weight: bold;
    }
    .resume-contact-list {
      list-style: none;
      font-size: 1.3rem;
      margin-top: 0.5rem;
      li {
        margin-top: -0.25rem;
      }
    }
  }
  .resume-line {
    border-top-color: $black;
    border-top-width: 0.1rem;
    width: 100%;
    opacity: $blur;
  }
  .resume-profile {
    p {
      font-size: 1.3rem;
      text-align: justify;
    }
  }
  .resume-skills {
    .resume-skills-technical-header, .resume-skills-additional-header {
      text-transform: uppercase;
    }
    .resume-skills-technical {
      display: block;
      margin-bottom: 1rem;
      .resume-skills-technical-list {
        list-style: none;
        font-size: 1.3rem;
        li {
          margin-bottom: 0.25rem;
          .resume-skills-technical-category-header {
            font-weight: bold;
            display: block;
          }
          .resume-skills-technical-category-list {
            list-style: none;
            display: block;
            li {
              display: inline;
              &:not(:last-child):after {
                content: ", ";
              }
            }
          }
        }
      }
    }
    .resume-skills-additional {
      display: block;
      margin-bottom: 0;
      .resume-skills-additional-list {
        font-size: 1.3rem;
      }
    }
  }
  .resume-work, .resume-education, .resume-extra {
    .list {
      list-style: none;
      & > li {
        margin-bottom: 1rem;
        .item-header {
          margin-bottom: 0;
          .item-main {
            font-weight: bold;
          }
          .item-place {
            display: block;
          }
          .item-period {
            display: block;
            font-size: 1.2rem;
            font-style: italic;
          }
        }
        .item-detail-list {
          font-size: 1.3rem;
        }
      }
    }
  }
  .resume-languages {
    .resume-languages-list {
      list-style: none;
      li {
        margin-bottom: 1rem;
        .resume-language-header {
          margin-bottom: 0;
          .resume-language-name {
            font-weight: bold;
          }
        }
      }
    }
  }
  .resume-references {
    margin-bottom: 1rem;
    .resume-references-list {
      list-style: none;
      & > li {
        margin-bottom: 1rem;
        .resume-references-header {
          margin-bottom: 0.25rem;
          .resume-references-name {
            font-weight: bold;
          }
        }
        .resume-references-contact-list {
          list-style: none;
          font-size: 1.3rem;
          li {
            margin-top: -0.25rem;
          }
        }
      }
    }
  }
}

@mixin resume-desktop-styles {
}

@include for-tablet-portrait-up {

  html.is-resume {
    .resume {
      padding: 4rem;
      .resume-header {
        .resume-name {
          font-size: 3.4rem;
        }
        .resume-contact-list {
          display: flex;
          justify-content: center;
          margin-top: 0.25rem;
          li {
            &:not(:last-child):after {
              content: " ·\00a0";
              font-weight: initial;
            }
          }
        }
      }
      .resume-skills {
        .resume-skills-technical {
          float: left;
          display: inline-block;
          width: 70%;
          margin-bottom: 0;
          .resume-skills-technical-list {
            li {
              margin-bottom: 0;
              .resume-skills-technical-category-header {
                float: left;
                display: inline-block;
                width: 20%;
              }
              .resume-skills-technical-category-list {
                display: inline-block;
                width: 75%;
              }
            }
          }
        }
        .resume-skills-additional {
          display: inline-block;
          width: 30%;
        }
      }
      .resume-work, .resume-education, .resume-extra {
        .list {
          & > li {
            .item-header {
              .item-main {
                &:after {
                  content: " ·";
                  font-weight: initial;
                }
              }
              .item-place {
                display: inline;
              }
            }
          }
        }
      }
      .resume-languages {
        .resume-languages-list {
          display: flex;
          li {
            margin-bottom: 0;
            margin-right: 7.5rem;
          }
        }
      }
      .resume-references {
        .resume-references-list {
          & > li {
            margin-bottom: 0;
            display: inline-block;
            width: 50%;
            float: left;
            .resume-references-header {
              margin-bottom: 0;
            }
            .resume-references-contact-list {
              li {
                display: inline;
                &:not(:last-child):after {
                  content: " ·";
                }
              }
            }
          }
        }
      }
    }
    @media print {
      @page {
        size: A4;
      }
      body {
        * {
          visibility: hidden;
        }
        .container {
          margin-top: 0;
        }
        .print-section {
          position: absolute;
          left: 0;
          top: 0;
          border: none;
          padding: 0;
          * {
            visibility: visible;
          }
        }
      }
    }
  }

}
