<nav class="navigation" role="navigation" aria-label="main navigation">
  <header class="navigation-header">
    <a href="/" class="navigation-brand">
      <h2>Marcus&nbsp;M</h2>
      {% asset tea-cup.png @optim %}
    </a>
  </header>
  <br>
  <span class="navigation-toggler" id="js-hamburger">
    <i class="fas fa-bars"></i>
  </span>
  <div class="navigation-bar" id="js-navbar">
    <hr>
    <div>
      {% for item in site.data.navigation %}
        {% assign url = page.url | remove: 'index.html' | append: '@' | remove: '/@' %}
        <div class="navigation-item">
          <a href="{{ item.link }}" {% if url == item.link %}class="current js-current"{% endif %}>
            <p>{{ item.name }}</p>
          </a>
        </div>
        <span class="navigation-dot">&middot;</span>
      {% endfor %}
    </div>
    <hr>
  </div>
</nav>
