.tag-list {
  list-style: none;
  .tag-item {
    margin-bottom: 2rem;
    .tag-name {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .tag-post-list {
      margin: 0;
      margin-left: 2.2rem;
      font-size: 100%;
      .tag-post-item {
        margin: 0;
        margin-bottom: 1rem;
        list-style-position: initial;
        line-height: 1;
        .tag-post-meta {
          opacity: $blur;
          font-size: 1.3rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@include for-tablet-portrait-up {

  .tag-post-meta {
    display: inline;
  }

}
