.post {
  .post-title {
    margin-bottom: 0.25rem;
    font-weight: bold;
    line-height: 1;
  }
  .post-meta {
    opacity: 0.65;
    margin-bottom: 2rem;
  }
  .post-content {
    p, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 2rem;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
    iframe {
      margin-bottom: 2rem;
    }
  }
}

#disqus_thread {
  margin-bottom: 1rem;
}
