.post {
  .post-title {
    margin-bottom: 0.25rem;
    font-weight: bold;
    line-height: 1;
  }
  .post-meta {
    opacity: 0.65;
    margin-bottom: 2.5rem;
  }
  .post-date {
    margin-bottom: 2.5rem;
  }
  .post-content {
    p {
      margin-bottom: 2rem;
    }
  }
}
