@import "magic";

html {
  font-size: 55%;
}

a {
  color: $green;
  &:hover, &:focus, &:active {
    color: unset;
  }
}

hr {
  margin: 1.2rem auto;
  border-top-width: 0.25rem;
  width: 25rem;
}

.current {
  color: unset;
}

// Container
.container {
  max-width: 80rem;
  margin: 3.5rem auto;
}

// Header
#header {
  text-align: center;
  #name {
    color: unset;
    display: inline-block;
    h2 {
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  #subtitle {
    margin: 0;
  }
  #hamburger-toggle {
    display: inline-block;
    margin-top: 1.2rem;
    font-size: 2.4rem;
    cursor: pointer;
  }
  #navigation {
    display: none;
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 0;
        display: inline-block;
      }
      .dot:last-child {
        display: none;
      }
    }
  }
}

// Body
#body {
  margin-top: 1rem;
}

// Footer
#footer {
  hr {
    margin-bottom: 0.5rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    li {
      font-size: 2.8rem;
      margin-right: 1.5rem;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: unset;
      }
    }
  }
}

// Home
.introduction {
  font-size: 2rem;
  &:last-of-type {
    margin-bottom: 1.2rem;
  }
}
#welcome {
  margin-left: 1.5rem;
  li {
    list-style-position: initial;
    margin-bottom: 0.4rem;
    h5 {
      margin-bottom: 0;
      margin-left: 0.5rem;
    }
  }
}

// Blog index
#blog-post-list {
  list-style: none;
  h3 {
    margin-bottom: 0.2rem;
  }
  h6 {
    margin-bottom: 0.5rem;
  }
  .excerpt {
    font-size: 1.5rem;
    p {
      margin: 0 3rem;
    }
  }
}
#blog-page-navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-size: 1.75rem;
  li:not(:last-child) {
    margin-right: 1.5rem;
  }
}
