/* Variables */

$green: #34b044;
$dark-green: #23752d;

/* Base styles */

// Globals
a {
  color: $green;
  &:hover, &:focus, &:active {
    color: $dark-green;
  }
}

// Container
.container {
  max-width: 100rem;
}

// Header
#header {
  margin-top: 3.5rem;
  text-align: center;
  #name {
    color: unset;
    h2 {
      font-weight: bold;
      margin-bottom: 0;
    }
  }
  p {
    margin: 0;
  }
  hr {
    margin: 1.2rem auto;
    width: 50%;
  }
  nav {
    display: flex;
    justify-content: center;
    a:not(:last-of-type) {
      margin-right: 2.5rem;
    }
    p {
      margin: 0;
    }
    .dot {
      margin-right: 2.5rem;
      &:last-child {
        display: none;
      }
    }
    .current {
      color: $dark-green;
    }
  }
}

// Body
#body {
  margin-top: 1rem;
}

/* Responsive styles */

// Larger than mobile screen
@media (min-width: 40.0rem) {

}

// Larger than tablet screen
@media (min-width: 80.0rem) {

}

// Larger than desktop screen
@media (min-width: 120.0rem) {

}
