@import "magic";

@include for-tablet-portrait-up {

  html {
    font-size: 58.5%;

    hr {
      width: 50rem;
    }

  }

  .site-header {
    .navigation-toggler {
      display: none;
    }
    .navigation-bar {
      display: block !important;
      div {
        flex-direction: row;
        justify-content: center;
        .navigation-item:not(:last-of-type) {
          margin-right: 2.5rem;
        }
        .navigation-dot {
          margin-right: 2.5rem;
        }
      }
    }
  }

}

@include for-tablet-landscape-up {

  html {
    font-size: 62.5%;
  }

}
