@media print {

  .container {
    margin: 0;
    padding: 0 !important;
    .site-header, .site-footer {
      display: none;
    }
    .site-body {
      margin: 0;
      .page-title {
        display: none;
      }
      .resume {
        border: none !important;
        padding: 0 2rem !important;
        hr {
          border-top-width: 0.3mm !important;
        }
        .resume-contact-list {
          display: -webkit-box;
          -webkit-box-pack: center;
        }
        .resume-extra {
          page-break-before: always;
        }
        .resume-languages-list {
          display: -webkit-box;
        }
      }
    }
  }

}
