html {
  font-size: 55%;
  &:not(.fontawesome-i2svg-complete) {
    i:after {
      content: "\00a0";
    }
  }
}

a {
  color: $green;
  &:hover, &:focus, &:active {
    color: unset;
  }
}

hr {
  margin: 1.2rem auto;
  border-top-width: 0.25rem;
  width: 25rem;
}

input[type="text"]:focus, textarea:focus {
  border-color: $green;
}

button {
  margin-bottom: 0;
  background-color: $green;
  border-color: $green;
}

blockquote {
  border-left-color: $green;
}

code {
  font-family: 'Roboto Mono', 'Monaco', monospace;
  font-size: 82%;
  line-height: 1.5;
  padding: 0.25rem 0.65rem;
  border-radius: unset;
  background: $gray;
  margin: 0;
}

pre {
  border: none;
  code {
    background: none;
    padding: 1.5rem;
  }
}

ul ul {
  font-size: 100%;
}

.global-cloud {
  list-style: none;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  li {
    display: inline;
    margin-bottom: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    color: $green;
    opacity: $blur;
  }
}

.global-tags {
  list-style: none;
  margin: 0;
  font-size: 1.4rem;
  li {
    display: inline;
    margin: 0;
  }
  .global-slash {
    color: $green;
    &:last-child {
      display: none;
    }
  }
}

.global-list {
  margin-left: 1.7rem !important;
  li {
    list-style-position: outside;
  }
}

@include for-tablet-portrait-up {

  html {
    font-size: 58.5%;
  }

  hr {
    width: 50rem;
  }

}

@include for-tablet-landscape-up {

  html {
    font-size: 62.5%;
  }

}

@include for-desktop-up {

  .global-cloud {
    li:hover {
      opacity: 1;
    }
  }

}

@include for-firefox {

  .global-list {
    margin-left: 1.25rem !important;
  }

}
