.current {
  color: unset;
  cursor: default;
}

.invalid {
  border-color: $red !important;
}

.active {
  font-weight: bold;
  opacity: 1 !important;
}

.hide {
  display: none;
}

.visible {
  visibility: visible !important;
}
