---
layout: default
---

<h1 class="category-title">{{ page.title }}</h1>
{% assign page_category = page.tag %}
{% assign all_posts = site.categories[page_category] %}
{% assign all_tags = all_posts | map: 'tags' %}
{% assign tag_cloud = all_tags | uniq | sort %}
{% include cloud.html tags=tag_cloud class='category-tag-cloud' id='js-category-cloud' %}
<ul class="category-tag-list">
  {% for tag in tag_cloud %}
    <li class="category-tag-item">
      <h3>{{ tag }}</h3>
      <ul class="category-tag-post-list">
        {% for post in all_posts %}
          {% if post.tags contains tag %}
            <li class="category-tag-post-item">
              {{ post.title }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
