<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - Marcus Mu</title>
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% seo %}
</head>
<body>
  <div class="container">
    <!-- Header -->
    <div class="row" id="header">
      <div class="column">
        <a href="/" id="name"><h2>Marcus Mu</h2></a>
        <p id="subtitle">Tea over coffee</p>
        <div id="navigation">
          <hr>
          <nav>
            {% for item in site.data.navigation %}
              <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
                <p>{{ item.name }}</p>
              </a>
              <p class="dot">&middot;</p>
            {% endfor %}
          </nav>
          <hr>
        </div>
      </div>
    </div>
    <!-- Body -->
    <div class="row" id="body">
      <div class="column">
        {{ content }}
      </div>
    </div>
    <!-- Footer -->
  </div>
</body>
</html>
