---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <div class="post-meta">
      <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: '%B %d, %Y' }}</time>
      <span class="post-dot">&middot;</span>
      <a href="/blog/{{ page.category }}" class="post-category">{{ page.category | capitalize }}</a>
    </div>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
{% assign permalink = site.url | append: page.url %}
{% include disqus.html page_url=permalink page_title=page.title%}
